<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="asset1">
        <img src="../../assets/Asset-1.png" alt="">
      </div>
      <div class="loginBox">
        <!-- Username -->
        <form [formGroup]="loginForm">
          <div class="form-group" style="margin-top: 4em;">
            <label for="username">Username</label>
            <input type="email" class="form-control" formControlName="username" placeholder="Enter Username" />
          </div>

          <!-- Password -->
          <div class="form-group">
            <label for="password">Password</label>
            <span>
              <i class="fas fa-envelope"></i>
            </span>
            <span>
              <input type="text" class="form-control" formControlName="password" placeholder="Enter password" />
            </span>

          </div>
          <br>
          <button type="submit" (click)="btnClick()" class="btn-self">Login</button>
        </form>
        <hr>
        <div class="move">
          <a routerLink="/register-doctor">Forgot Password ?</a>
        </div>
      </div>

    </div>
    <div class="col "></div>
  </div>
</div>