<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6">
      <!-- Form -->
      <form [formGroup]="studentForm">
        <h3 style="text-align: center">Student Information</h3>
        <hr>
        <br>
        <!-- Name -->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="patientName" class="form-control" placeholder="Enter Name">
        </div>

        <!-- Class -->
        <div class="form-group">
          <label for="name">Class</label>
          <input type="text" formControlName="className" class="form-control" placeholder="Enter Class">
        </div>

        <!-- Admission/ROll No -->
        <div class="form-group">
          <label for="name">Addmission/ Role No</label>
          <input type="text" formControlName="admission" class="form-control" placeholder="Enter Admission No">
        </div>

        <!-- Parent's Name -->
        <div class="form-group">
          <label for="name">Parent's Name</label>
          <input type="text" formControlName="parentName" class="form-control" placeholder="Enter Parent's Name">
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="name">Email</label>
          <input type="email" formControlname="email" class="form-control" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <!-- Mobile Number -->
        <div class="form-group">
          <label for="name">Mobile Number</label>
          <input type="number" formControlName="mobile" class="form-control" placeholder="Enter Name">
        </div>

        <button class="btn-self" (click)="btnClick()">Submit</button>

      </form>
      <!-- End of Form -->
    </div>

    <div class="col-md-3">

    </div>
  </div>
</div>