<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center">Patient Information</h2>
      <hr>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <!-- Form -->
      <form [formGroup]="infoForm">
        <h5>Basic Details</h5>

        <!-- Name -->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="patientName" class="form-control" placeholder="Enter Name">
        </div>

        <!-- Class -->
        <div class="form-group">
          <label for="name">Class</label>
          <input type="text" formControlName="class" class="form-control" placeholder="Enter Class">
        </div>

        <!-- Admission/ROll No -->
        <div class="form-group">
          <label for="name">Addmission/ Role No</label>
          <input type="text" formControlName="admission" class="form-control" placeholder="Enter Admission No">
        </div>

        <!-- Parent's Name -->
        <div class="form-group">
          <label for="name">Parent's Name</label>
          <input type="text" formControlName="parentName" class="form-control" placeholder="Enter Parent's Name">
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="name">Email</label>
          <input type="email" formControlname="email" class="form-control" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <!-- Mobile Number -->
        <div class="form-group">
          <label for="name">Mobile Number</label>
          <input type="number" formControlName="mobile" class="form-control" placeholder="Enter Name">
        </div>

        <!-- Doctor's Name -->
        <div class="form-group">
          <label for="name">Doctor's Name</label>
          <input type="name" formControlName="doctorName" class="form-control" placeholder="Enter Name">
        </div>

        <h5>Oral Hygiene</h5>

        <!-- Stains -->
        <div class="form-group">
          <label for="name">Stains</label>
          <input type="name" formControlName="stains" class="form-control">
        </div>

        <!-- Plaque -->
        <div class="form-group">
          <label for="name">Plaque</label>
          <input type="name" formControlName="plaque" class="form-control">
        </div>

        <!-- Tartar -->
        <div class="form-group">
          <label for="name">Tartar</label>
          <input type="name" formControlName="tartar" class="form-control">
        </div>

        <!-- Cavities -->
        <h5>Cavities</h5>
        <div class="form-group">
          <input type="text" formControlName="cavities" class="form-control">
        </div>

        <!-- Malocclusion -->
        <h5>Malocclusion</h5>
        <div class="form-group">
          <input type="text" formControlName="malocclusion" class="form-control">
        </div>

        <!-- Clinical Recommendations -->
        <h5>Clinical Recommendations</h5>
        <div class="form-group">
          <textarea formControlName="clinical" rows="5" cols="100" placeholder="Leave Notes"></textarea>
        </div>

        <h5>Intraoral Camera Images</h5>
        <div class="form-group">
          <img src="">
        </div>

        <button class="btn-self" (click)="btnClick()">Submit</button>

      </form>
      <!-- End of Form -->
    </div>

    <div class="col-md-2"></div>
  </div>
</div>