<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6">
      <div class="register">
        <h3>Register Form</h3>
      </div>
      <div class="registerBox">
        <!-- Name -->
        <div class="form-group" style="margin-top: 4em;">
          <label for="name">Organization</label>
          <input type="text" class="form-control" placeholder="Organization Name">
        </div>

        <!-- Username/ Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" placeholder="Email Address">
        </div>

        <!-- Password -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password">;
        </div>

        <button class="btn-self" (click)="btnClick()">Submit</button>
      </div>
      <!-- </form> -->
    </div>
    <div class="col-md-3">

    </div>

  </div>
</div>